/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/css3";

@font-face {
  font-family: "Century Gothic";
  src: url(century_gothic.ttf);
}

@mixin hoverActiveFocus($property, $value) {
    &:hover, &:active, &:focus {
        #{$property}: $value;
    }
}

body {
  background: rgb(208, 214, 240) url(http://destiny.bungie.org/images/dbo_bgm.jpg) no-repeat;
  background-size: 100% auto;
}

.btn {
  @include border-radius(0);
}

.navbar-search {
  .search-query {
    @include border-radius(0);
  }
}

.nav-collapse {
  .nav > li >, .dropdown-menu {
    a {
      @include border-radius(0);
      color: #ffffff;
      text-shadow: 0 1px 0 #000000;

      &:hover,
      &:focus {
        color: #ffffff;
        background: rgba(229, 229, 229, 0.4);
      }
    }
  }

  .nav {
    margin-bottom: 0;
  }

  .navbar-form,
  .navbar-search {
    margin: 0;
    border: 0;
  }
}

.navbar {

  .nav > .active > {
    a,
    a:hover,
    a:focus {
      background: rgba(229, 229, 229, 0.3);
      color: #ffffff;
    }
  }

  .navbar-inner {
    background: none;
    padding: 0;
    border-bottom: none;
  }

  .btn-navbar {
    background: none;
    position: absolute;
    right: 0;

    &:active,
    &:focus,
    &:hover,
    .active {
      background: rgba(229, 229, 229, 0.2);
    }
  }

  .brand {
    font-family: "Century Gothic";
    font-weight: 600;
    font-size: 36px;
    height: 40px;
    line-height: 40px;
    color: #ffffff;
    float: none;
    text-align: center;
    display: block;
    letter-spacing: 2px;
    padding: 0 4px 0 0;

    background-color: #b7c0db;
    @include filter-gradient(#b7c0db, #6d7ca4, vertical);
    @include background-image(linear-gradient(top,  #b7c0db 0%,#bdc5de 4%,#eef2fd 24%,#d5dcec 47%,#a5afcc 48%,#9fabc9 52%,#909bbe 63%,#7480a5 79%,#66749a 89%,#6d7ca4 100%));
    @include background-clip(text);
    @include text-shadow(none);
    -webkit-text-fill-color: transparent;

    &::after {
      content: attr(data-text);
      position: absolute;
      right: 0;
      width: 100%;
      padding-right: 4px;
      z-index: -1;
      @include text-shadow(0 0 13px rgba(38,48,81,.75));
    };
  }
}
