/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/css3";

@font-face {
  font-family: Calibri;
  src: url(calibri.woff);
}

@mixin hoverActiveFocus($property, $value) {
    &:hover, &:active, &:focus {
        #{$property}: $value;
    }
}

body {
  background: rgb(195, 201, 234) url(../images/background.png) no-repeat;
}

.btn {
  @include border-radius(0);
}

.navbar-search {
  .search-query {
    @include border-radius(0);
  }
}

.nav-collapse {
  .nav > li >, .dropdown-menu {
    a {
      @include border-radius(0);
      color: #ffffff;
      text-shadow: 0 1px 0 #000000;

      &:hover,
      &:focus {
        color: #ffffff;
        background: rgba(229, 229, 229, 0.4);
      }
    }
  }

  .nav {
    margin-bottom: 0;
  }

  .navbar-form,
  .navbar-search {
    margin: 0;
    border: 0;
  }
}

.navbar {

  .nav > .active > {
    a,
    a:hover,
    a:focus {
      background: rgba(229, 229, 229, 0.3);
      color: #ffffff;
    }
  }

  .navbar-inner {
    background: none;
  }

  .btn-navbar {
    background: none;

    &:active,
    &:focus,
    &:hover,
    .active {
      background: rgba(229, 229, 229, 0.2);
    }
  }

  .brand {
    font-family: Calibri;
    font-weight: 600;
    font-size: 40px;
    height: 40px;
    line-height: 40px;

    color: #ffffff;

    // // needs latest Compass, add '@import "compass"' to your scss
    // background-color: #ecedf1; // Old browsers
    // @include filter-gradient(#ecedf1, #5b6990, vertical); // IE6-9
    // @include background-image(linear-gradient(top,  #ecedf1 0%,#5b6990 100%));

    // @include background-clip(text);
    // -webkit-text-fill-color: transparent;

    @include text-shadow(none);
    padding: 0 0 0 10px;
  }
}
