[submodule "bootstrap"]
	path = bootstrap
	url = git@github.com:twitter/bootstrap.git
[submodule "FeedEk"]
	path = FeedEk
	url = git@github.com:enginkizil/FeedEk.git
[submodule "Sidetap"]
	path = Sidetap
	url = gh:sorahn/Sidetap
