/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@font-face {
  font-family: "Century Gothic";
  src: url(century_gothic.ttf);
}

/* line 19, ../sass/screen.scss */
body {
  background: #d0d6f0 url(http://destiny.bungie.org/images/dbo_bgm.jpg) no-repeat;
  background-size: 100% auto;
}

/* line 24, ../sass/screen.scss */
.btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}

/* line 29, ../sass/screen.scss */
.navbar-search .search-query {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}

/* line 36, ../sass/screen.scss */
.nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  color: #ffffff;
  text-shadow: 0 1px 0 #000000;
}
/* line 42, ../sass/screen.scss */
.nav-collapse .nav > li > a:hover, .nav-collapse .nav > li > a:focus, .nav-collapse .dropdown-menu a:hover, .nav-collapse .dropdown-menu a:focus {
  color: #ffffff;
  background: rgba(229, 229, 229, 0.4);
}
/* line 49, ../sass/screen.scss */
.nav-collapse .nav {
  margin-bottom: 0;
}
/* line 54, ../sass/screen.scss */
.nav-collapse .navbar-form,
.nav-collapse .navbar-search {
  margin: 0;
  border: 0;
}

/* line 65, ../sass/screen.scss */
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  background: rgba(229, 229, 229, 0.3);
  color: #ffffff;
}
/* line 71, ../sass/screen.scss */
.navbar .navbar-inner {
  background: none;
  padding: 0;
  border-bottom: none;
}
/* line 77, ../sass/screen.scss */
.navbar .btn-navbar {
  background: none;
  position: absolute;
  right: 0;
}
/* line 85, ../sass/screen.scss */
.navbar .btn-navbar:active, .navbar .btn-navbar:focus, .navbar .btn-navbar:hover,
.navbar .btn-navbar .active {
  background: rgba(229, 229, 229, 0.2);
}
/* line 90, ../sass/screen.scss */
.navbar .brand {
  font-family: "Century Gothic";
  font-weight: 600;
  font-size: 36px;
  height: 40px;
  line-height: 40px;
  color: #ffffff;
  float: none;
  text-align: center;
  display: block;
  letter-spacing: 2px;
  padding: 0 4px 0 0;
  background-color: #b7c0db;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFB7C0DB', endColorstr='#FF6D7CA4');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b7c0db), color-stop(4%, #bdc5de), color-stop(24%, #eef2fd), color-stop(47%, #d5dcec), color-stop(48%, #a5afcc), color-stop(52%, #9fabc9), color-stop(63%, #909bbe), color-stop(79%, #7480a5), color-stop(89%, #66749a), color-stop(100%, #6d7ca4));
  background-image: -webkit-linear-gradient(top, #b7c0db 0%, #bdc5de 4%, #eef2fd 24%, #d5dcec 47%, #a5afcc 48%, #9fabc9 52%, #909bbe 63%, #7480a5 79%, #66749a 89%, #6d7ca4 100%);
  background-image: -moz-linear-gradient(top, #b7c0db 0%, #bdc5de 4%, #eef2fd 24%, #d5dcec 47%, #a5afcc 48%, #9fabc9 52%, #909bbe 63%, #7480a5 79%, #66749a 89%, #6d7ca4 100%);
  background-image: -o-linear-gradient(top, #b7c0db 0%, #bdc5de 4%, #eef2fd 24%, #d5dcec 47%, #a5afcc 48%, #9fabc9 52%, #909bbe 63%, #7480a5 79%, #66749a 89%, #6d7ca4 100%);
  background-image: -ms-linear-gradient(top, #b7c0db 0%, #bdc5de 4%, #eef2fd 24%, #d5dcec 47%, #a5afcc 48%, #9fabc9 52%, #909bbe 63%, #7480a5 79%, #66749a 89%, #6d7ca4 100%);
  background-image: linear-gradient(top, #b7c0db 0%, #bdc5de 4%, #eef2fd 24%, #d5dcec 47%, #a5afcc 48%, #9fabc9 52%, #909bbe 63%, #7480a5 79%, #66749a 89%, #6d7ca4 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  text-shadow: none;
  -webkit-text-fill-color: transparent;
}
/* line 110, ../sass/screen.scss */
.navbar .brand::after {
  content: attr(data-text);
  position: absolute;
  right: 0;
  width: 100%;
  padding-right: 4px;
  z-index: -1;
  text-shadow: 0 0 13px rgba(38, 48, 81, 0.75);
}
