/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@font-face {
  font-family: Calibri;
  src: url(calibri.woff);
}

/* line 13, ../sass/screen.scss */
body {
  background: #c3c9ea url(../images/background.png) no-repeat;
}

/* line 17, ../sass/screen.scss */
.btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}

/* line 22, ../sass/screen.scss */
.navbar-search .search-query {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}

/* line 28, ../sass/screen.scss */
.nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}

/* line 35, ../sass/screen.scss */
.navbar .navbar-inner {
  background: none;
}
/* line 39, ../sass/screen.scss */
.navbar .btn-navbar {
  background: none;
}
/* line 45, ../sass/screen.scss */
.navbar .btn-navbar:active, .navbar .btn-navbar:focus, .navbar .btn-navbar:hover,
.navbar .btn-navbar .active {
  background: rgba(229, 229, 229, 0.3);
}
/* line 50, ../sass/screen.scss */
.navbar .brand {
  font-family: Calibri;
  font-weight: 600;
  font-size: 40px;
  height: 40px;
  line-height: 40px;
  color: #ffffff;
  text-shadow: none;
  padding: 0 0 0 10px;
}
